# ======================
# GLOBAL
# ======================
*.log
.DS_Store
Thumbs.db
.idea
.vscode
.phpactor.json
/.fleet
/.zed
/auth.json

# ======================
# FRONTEND (Vue)
# ======================
front-end/node_modules
front-end/dist
front-end/.env
front-end/.env.*
!front-end/.env.example
front-end/.vite
front-end/.vscode

# ======================
# BACKEND (Laravel)
# ======================
back-end/vendor
back-end/node_modules
back-end/.env
back-end/.env.*
!back-end/.env.example
back-end/.env.backup
back-end/.env.production
back-end/storage/*.key
back-end/storage/pail
back-end/public/storage
back-end/public/build
back-end/public/hot
back-end/.vscode
back-end/.phpunit.cache
back-end/.phpunit.result.cache
back-end/.nova

# ======================
# HOMESTEAD / VAGRANT
# ======================
back-end/Homestead.json
back-end/Homestead.yaml

# ======================
# CACHE & TEMP
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
